<template>
  <label>Choose files to upload
    <input @change="fileSelected" type="file" id="upload-creative-input" multiple>
  </label>
</template>

<script>
export default {
  name: 'FileSelectToBase64',
  props: ['value'],
  methods: {
    async fileSelected (e) {
      const files = Array.from(e.target.files)

      const base64edFiles = await Promise.all(files.map(async file =>
        new Promise((resolve, reject) => {
          const reader = new FileReader()

          reader.addEventListener('loadend', () => {
            file.dataUrl = reader.result
            resolve(file)
          })

          reader.readAsDataURL(file)
        })
      ))

      this.$emit('input', base64edFiles)
    }
  }
}
</script>
